.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  pointer-events: none;
}

.darkOverlay {
  position: absolute;
  inset: 0;
  pointer-events: auto;
}

/* SVG 마스크 reveal */
.revealSvg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.circleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  z-index: 1;
}

.circleSvg {
  width: 100%;
  height: 100%;
}
